
body{

    background-image: url("./images/five-empty-comic-book-page-colorful-template-background_1017-11427.avif");
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
}
.d1{
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: 40px;
    position: relative;
    left: -150px;
    top: -30px;
}
.d2{
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: large;
    position: relative;
    left: -180px;
    top: 150px;
}
.d3{
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: x-large;
    position: relative;
    left: 170px;
    top: 50px;
}
.d4{
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: x-large;
    position: relative;
    left: 150px;
    top: -240px;
}
.d5{
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: large;
    position: relative;
    left: 170px;
    top: -685px;
}
.d6{
    display: flex;
    justify-content: center;
    position: relative;
    left:-400px;
    top:-820px;
}
.d7{
    display: flex;
    justify-content: center;
    position: relative;
    left:420px;
    top: -1100px;
}
.d8{
    display: flex;
    justify-content: center;
    position: relative;
    left:-400px;
    top: -1000px;
}
.d9{
    display: flex;
    justify-content: center;
    position: relative;
    left: 420px;
    top: -1350px;
}